#messages {
  overflow-y: scroll;

  margin-top: 2em;
  margin-bottom: .5em;
  max-width: 33em;
  max-height: 25em;
  border-radius: .2em;
  background-color: #e2e1e0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#web-socket-chat {
  margin-right: 5em;
  margin-left: 5em;
}

div .input-group {
  padding: 0;
  max-width: 33em;
}
