<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drawing</title>
  </head>
  <body>
  <div>
    <canvas id="canvas" style="width: 500px; height: 500px; position: absolute"></canvas>
    <canvas id="guide-canvas" style="width: 500px; height: 500px; position: absolute"></canvas>
  </div>
  <script src="../JS/drawing.js"></script>
  </body>
</html>