<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab #4</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/lab4.css">
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-light justify-content-between">
      <a class="navbar-brand" href="index.html">IMP</a>
      <div class="navbar-toggler-right justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Labs
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="../Views/index.html">Lab #1</a>
              <a class="dropdown-item" href="../Views/labTwo.html">Lab #2</a>
              <a class="dropdown-item" href="../Views/labThree.html">Lab #3</a>
              <a class="dropdown-item active" href="../Views/labFour.html">Lab #4</a>
              <a class="dropdown-item" href="../Views/labFive.html">Lab #5</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">

      <h1 class="text-center">Lab #4</h1>

      <h1 class="mt-5">Assignment #1</h1>
      <p class="lead">Simple Drawing Application</p>
      <hr class="my-4">

      <a href="../Views/drawing.html">Drawing Application</a>

      <h1 class="mt-5">Assignment #2</h1>
      <p class="lead">Simple Canvas Game</p>
      <hr class="my-4">

      <h1 id="info">Start the game by clicking the canvas!</h1>
      <canvas id="canvas-game"></canvas>

    </div>

    <script src="../JS/canvasGame.js"></script>
    <script src="../JS/animate.js"></script>
  </body>
</html>