<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>Lab #2</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
          integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
          integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
          integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-light justify-content-between">
  <a class="navbar-brand" href="index.html">IMP</a>
  <div class="navbar-toggler-right justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Labs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="../Views/index.html">Lab #1</a>
          <a class="dropdown-item active" href="../Views/labTwo.html">Lab #2</a>
          <a class="dropdown-item" href="../Views/labThree.html">Lab #3</a>
          <a class="dropdown-item" href="../Views/labFour.html">Lab #4</a>
          <a class="dropdown-item" href="../Views/labFive.html">Lab #5</a>
          <a class="dropdown-item" href="../Views/labSix.html">Lab #6</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">

  <h1 class="text-center">Lab #2</h1>

  <h1 class="mt-5">Assignment #1</h1>
  <p class="lead">Responsive Web Design</p>
  <hr class="my-4">

  <p>
    <strong>What is the purpose of the RWD?</strong> Responsive Web Design is utilized to dynamically adjust the
    content of a web page to fit all screen sizes.<br><br>

    <strong>Why it is used?</strong> It is used so that the content can be easily viewed on all platforms. If your
    page is not responsive and you try to visit the webpage on a small screen like a cell phone the content may be
    difficult to view and require horizontal scrolling to see all of the content. So instead of creating several
    websites that are formatted to a specific screen size we can use RWD and have one page that fits all screen
    sizes.<br><br>

    <strong>How things are done before RWD?</strong> Before RWD developers had to create several different webpages
    to fit the different screen sizes. This can also be seen when developers had to create solely mobile
    webpages so that the users on a cellphone could read all of the content on the page.<br><br>

    <strong>What is the difference?</strong> The difference is that we now can make one webpage that looks good on
    all screen sizes. Also modern RWD technologies have made it much easier to layout the page.<br><br>

    <strong>How css media queries can help you building responsive web sites?</strong> CSS media queries are a great
    tool that can help when building responsive pages. They adjust the content based on the viewport's height and
    width in order to show all of the content in an aesthetic manner. Media queries have breakpoints that are set so
    that when the screen gets to a certain width or height the content will dynamically adjust. Many css frameworks
    and libraries have built-in media queries that can help create responsive sites.<br><br>

    <strong>Why use em (font) based sizing for margins?</strong> The em sizing is a scalable unit that is used to
    allow the user to adjust the font-size in the browser. 1em is the equivalent to whatever the page's default size
    is or has been set to. Default browser size is 16px, this would be equal to 1em. Using em in margins will mean
    that it is related to the pages font-size. So whether the user has large or small text the margins will scale
    accordingly.<br><br>

    <strong>Article is already 7 years old, do we have any new technology which can
      be used to achieve same type of UI responsiveness as described in the
      article.</strong> Many of the new CSS libraries and frameworks incorporate new RWD technologies such as the
    grid system and Flexbox. Bootstrap for instance is based on a 12 column grid system and also incorporates CSS
    Flexbox. CSS Grid helps to properly layout the content of the website contains media queries that help make it
    responsive. CSS Flexbox makes it easier to layout a page without having to use floats or positioning.
  </p>

  <h1 class="mt-5">Assignment #2</h1>
  <p class="lead">Responsive Web Design Examples</p>
  <hr class="my-4">

  <div class="card mb-5">
    <figure>
      <img class="card-img-top img-fluid pb-2" src="../Assets/Screen Shot 2018-01-16 at 2.53.54 PM.png"
           alt="Card image cap">
    </figure>
  </div>

  <div class="card mb-5">
    <figure>
      <img class="card-img-top img-fluid pb-2" src="../Assets/Screen%20Shot%202018-01-16%20at%203.15.15%20PM.png"
           alt="Card image cap">
    </figure>
  </div>

  <div class="card">
    <figure>
      <img class="card-img-top img-fluid pb-2" src="../Assets/Screen%20Shot%202018-01-16%20at%203.14.58%20PM.png"
           alt="Card image cap">
    </figure>
  </div>

  <h1 class="mt-5">Assignment #3</h1>
  <p class="lead">Responsive Web Design Practice</p>
  <hr class="my-4">

  <a href="responsive.html">Responsive Practice Page</a>

  <h1 class="mt-5">Assignment #4</h1>
  <p class="lead">Responsive Web Design Practice Adding Extras</p>
  <hr class="my-4">

  <a href="responsiveExtraFeatures.html">Responsive Practice Page with Extra Features</a><br><br>
  <p>Figure tags can be used to group images along with a caption in a cleaner format then the traditional "div" and
    "p" form. You can nest several figure tags within a figure to include several photos and captions. The figure
    tag is also better for accessibility because it helps the screen reader know what your content is. The figure
    tag can also be moved away from the main flow of the document without changing the document's meaning.</p>

  <h1 class="mt-5">Assignment #5</h1>
  <p class="lead">Responsive Person List</p>
  <hr class="my-4">

  <a href="responsivePersonList.html">Responsive Person List</a>

</div>

<script src="../JS/animate.js"></script>
</body>
</html>