<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person List MVC</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="../JS/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../CSS/personListMVC.css">
  </head>
  <body>
    <div class="js-container">

      <input type="text" class="js-person-textbox">
      <input type="button" class="js-add-person-button" value="Add Person">
      <input type="button" class="js-delete-person-button" value="Delete Person">

      <div class="js-person-container"></div>



    </div>

    <script src="../JS/../JS/MVC/eventDispatcher.js"></script>
    <script src="../JS/../JS/MVC/personModel.js"></script>
    <script src="../JS/../JS/MVC/personView.js"></script>
    <script src="../JS/../JS/MVC/personController.js"></script>
    <script src="../JS/../JS/MVC/app.js"></script>
  </body>
</html>