<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Example</title>
  <link rel="stylesheet" href="../CSS/responsiveExtra.css">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
          integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
          crossorigin="anonymous"></script>
</head>
<body onresize="responsive()" onload="responsive()">
<div id="title">
  <h1 id="titleText">Welcome to the IMP course</h1>
</div>

<div class="nav sidenav">
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Some Stuff</a></li>
    </ul>
    <hr>
  </nav>
</div>

<div id="contentContainer">
  <div class="content">
    <h1>How to make a responsive webpage</h1>
    <sub class="subtitle">Published: 16.1.2018</sub>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque, eros a accumsan finibus, nisi tortor
      efficitur sapien, id fermentum eros nunc at lacus. Cras eget ullamcorper ante. Integer in diam sem. Nam
      feugiat
      porta euismod. Praesent porta dui eget maximus tincidunt. Morbi mollis felis vitae nibh ultricies, ac sodales
      libero rutrum. Pellentesque efficitur feugiat mi, eget convallis velit feugiat eu. Pellentesque dignissim
      maximus molestie. Proin ac molestie elit. Suspendisse at quam eu ipsum maximus lobortis at non justo. Aliquam
      pretium elementum quam quis tempor. Etiam et enim nulla. Ut scelerisque congue consectetur. In rutrum turpis
      quis fermentum pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
      Curae; Curabitur tincidunt magna sed lorem pretium maximus.</p>

    <figure>
      <p><img class="images" src="https://i.pinimg.com/originals/43/3a/81/433a815b8313453ee2edae5f7c91de73.jpg"
              alt="Firewatch"></p>
      <figcaption>Screenshot from Firewatch</figcaption>
    </figure>

    <h1>basic rules are simple, don't use pixels</h1>
    <sub class="subtitle">Published: 16.1.2018</sub>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque, eros a accumsan finibus, nisi tortor
      efficitur sapien, id fermentum eros nunc at lacus. Cras eget ullamcorper ante. Integer in diam sem. Nam
      feugiat
      porta euismod. Praesent porta dui eget maximus tincidunt. Morbi mollis felis vitae nibh ultricies, ac sodales
      libero rutrum. Pellentesque efficitur feugiat mi, eget convallis velit feugiat eu. Pellentesque dignissim
      maximus molestie. Proin ac molestie elit. Suspendisse at quam eu ipsum maximus lobortis at non justo. Aliquam
      pretium elementum quam quis tempor. Etiam et enim nulla. Ut scelerisque congue consectetur. In rutrum turpis
      quis fermentum pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
      Curae; Curabitur tincidunt magna sed lorem pretium maximus.</p>

    <h1>everything must be scalable</h1>
    <sub class="subtitle">Published: 16.1.2018</sub>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque, eros a accumsan finibus, nisi tortor
      efficitur sapien, id fermentum eros nunc at lacus. Cras eget ullamcorper ante. Integer in diam sem. Nam
      feugiat
      porta euismod. Praesent porta dui eget maximus tincidunt. Morbi mollis felis vitae nibh ultricies, ac sodales
      libero rutrum. Pellentesque efficitur feugiat mi, eget convallis velit feugiat eu. Pellentesque dignissim
      maximus molestie. Proin ac molestie elit. Suspendisse at quam eu ipsum maximus lobortis at non justo. Aliquam
      pretium elementum quam quis tempor. Etiam et enim nulla. Ut scelerisque congue consectetur. In rutrum turpis
      quis fermentum pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
      Curae; Curabitur tincidunt magna sed lorem pretium maximus.</p>
  </div>
</div>

<script src="../JS/responsive.js"></script>
</body>
</html>