<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Responsive Example</title>
    <link rel="stylesheet" href="../CSS/responsiveCSS.css">
  </head>
  <body>
    <div id="title">
      <h1 id="titleText">Welcome to the IMP course</h1>
    </div>

    <div id="contentContainer">
      <div class="content">
        <h1>How to make a responsive webpage</h1>
        <sub class="subtitle">Published: 16.1.2018</sub>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque, eros a accumsan finibus, nisi tortor
          efficitur sapien, id fermentum eros nunc at lacus. Cras eget ullamcorper ante. Integer in diam sem. Nam
          feugiat
          porta euismod. Praesent porta dui eget maximus tincidunt. Morbi mollis felis vitae nibh ultricies, ac sodales
          libero rutrum. Pellentesque efficitur feugiat mi, eget convallis velit feugiat eu. Pellentesque dignissim
          maximus molestie. Proin ac molestie elit. Suspendisse at quam eu ipsum maximus lobortis at non justo. Aliquam
          pretium elementum quam quis tempor. Etiam et enim nulla. Ut scelerisque congue consectetur. In rutrum turpis
          quis fermentum pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
          Curae; Curabitur tincidunt magna sed lorem pretium maximus.</p>
      </div>

      <div class="content">
        <h1>basic rules are simple, don't use pixels</h1>
        <sub class="subtitle">Published: 16.1.2018</sub>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque, eros a accumsan finibus, nisi tortor
          efficitur sapien, id fermentum eros nunc at lacus. Cras eget ullamcorper ante. Integer in diam sem. Nam
          feugiat
          porta euismod. Praesent porta dui eget maximus tincidunt. Morbi mollis felis vitae nibh ultricies, ac sodales
          libero rutrum. Pellentesque efficitur feugiat mi, eget convallis velit feugiat eu. Pellentesque dignissim
          maximus molestie. Proin ac molestie elit. Suspendisse at quam eu ipsum maximus lobortis at non justo. Aliquam
          pretium elementum quam quis tempor. Etiam et enim nulla. Ut scelerisque congue consectetur. In rutrum turpis
          quis fermentum pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
          Curae; Curabitur tincidunt magna sed lorem pretium maximus.</p>
      </div>

      <div class="content">
        <h1>everything must be scalable</h1>
        <sub class="subtitle">Published: 16.1.2018</sub>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque, eros a accumsan finibus, nisi tortor
          efficitur sapien, id fermentum eros nunc at lacus. Cras eget ullamcorper ante. Integer in diam sem. Nam
          feugiat
          porta euismod. Praesent porta dui eget maximus tincidunt. Morbi mollis felis vitae nibh ultricies, ac sodales
          libero rutrum. Pellentesque efficitur feugiat mi, eget convallis velit feugiat eu. Pellentesque dignissim
          maximus molestie. Proin ac molestie elit. Suspendisse at quam eu ipsum maximus lobortis at non justo. Aliquam
          pretium elementum quam quis tempor. Etiam et enim nulla. Ut scelerisque congue consectetur. In rutrum turpis
          quis fermentum pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
          Curae; Curabitur tincidunt magna sed lorem pretium maximus.</p>
      </div>
    </div>

  </body>
</html>